<%-include("partial/header") -%>

<div class="row heading-box">
<div class="col-lg-6" >
<div class="div1 ">
<h1 class="name-heading">Waste Alert</h1>
<p class="heading-para">Empowering Change One Alert at a time</p></div></div>
    <div class=" col-lg-6">
    <div class="div2">

        <p class ="para">Waste Alert: Your One-Stop Hub for Waste Solutions. Stay informed, take action, and make a difference for a cleaner planet. </p></div>
        </div></div>
        <div class="objective">
            <section id="features">
                <div class="container-fluid feature">
                    <div class="row">
                        <div class="col-lg-4 feature1">
                            <i class="fa-solid fa-arrow-down fa-4x"></i>
                            <h2 class="icon-heading">Reduce</h2>
                            <p class="icon-para">Minimize waste, maximize sustainability.</p>
                        </div>
                        <div class="col-lg-4 feature1">
                            <i class="fas fa-redo fa-4x"></i>
                            <h2 class="icon-heading">Reuse</h2>
                            <p class="icon-para"> Repurpose and renew for a better tomorrow
                            </p>
                        </div>
                        <div class="col-lg-4 feature1">
                            <i class=" fa-solid fa-recycle fa-4x"></i>
                            <h2 class="icon-heading">Recycle</h2>
                            <p class="icon-para"> Transforming waste into new possibilities</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <section id="get-started">
        
        <div class ="row" >
            <div class="col-lg-6 start">
                <p >Get</p>
                 <p style="text-align: center;" >Started</p>
            <div class="description" >
                
            <div class="card  des-cards"style="margin-top:18%" >
                <h1 style="text-align: center;">Services</h1>
                
                <div class="card-body">
                    <h1 style="font-size:1.5rem;">Waste Output Calculator</h1>
                  <p class="card-text" >Easily track and understand your waste output with our intuitive calculator. Input your daily or weekly usage of various materials, and get instant insights into your environmental impact. Take proactive steps towards reducing waste and adopting sustainable habits based on personalized data.</p>
                  <h1 style="font-size:1.5rem; margin-top: 5%;">Littered Area Reporting</h1> 
                  <p class="card-text"> Be a part of the solution by reporting littered areas in your community. Use our user-friendly interface to pinpoint locations where litter is prevalent, helping authorities and organizations prioritize cleanup efforts. Your contributions play a vital role in maintaining clean and healthy environments for everyone.</p>
                  <h1 style="font-size:1.5rem; margin-top: 5%;">Waste Management Assistance</h1>
                  <p class="card-text">Struggling to manage your waste efficiently? Our team is here to help. Simply request assistance through our platform, and our waste management experts will visit your home to provide personalized guidance, tips, and solutions to streamline your waste management process.</p>
                </div> 
              </div>
            </div>
        </div>

        <div class="col-lg-6 services">
            
                <div class="card service-cards" >
                    <h1 class="card-title" style="margin-bottom: 5%;">Calculate</h1>
                    <i class="fa-solid fa-calculator fa-4x"></i>
                    <div class="card-body">
                      
                      <p class="card-text" >Know Your impact.</p>
                      
                      <a href="calculator"><button class="btn btn-light btn-lg"style="--bs-btn-padding-y:0.5rem; --bs-btn-padding-x: 4.5rem; --bs-btn-font-size: 1.4rem;">Go</button></a>
                    </div>
                  </div>
                  <div class="card service-cards" >
                    <h1 class="card-title" style="margin-bottom: 5%;">Report</h1>
                    <i class="fa-solid fa-circle-exclamation fa-4x"></i>
                    <div class="card-body">
                      
                      <p class="card-text" >Lend a Hand, Report Litter</p>
                      
                      <a href="report" class="btn btn-light btn-lg"style="--bs-btn-padding-y:0.5rem; --bs-btn-padding-x: 4.5rem; --bs-btn-font-size: 1.4rem;">Go</a>
                    </div>
                  </div>
                  <div class="card service-cards" >
                    <h1 class="card-title" style="margin-bottom: 5%;">Manage</h1>
                    <i class="fa-solid fa-trash fa-4x"></i>
                    <div class="card-body">
                      
                      <p class="card-text" >Efficient Waste Management Solutions</p>
                      
                      <a href="manage" class="btn btn-light btn-lg"style="--bs-btn-padding-y:0.5rem; --bs-btn-padding-x: 4.5rem; --bs-btn-font-size: 1.4rem;">Go</a>
                    </div>
                  </div>
            
            
        </div>
        </div>
    </section>
    <section id="testimonials">
      <h1 style="padding-top: 3%;font-family:Alex Brush; font-size: 3.5rem;text-decoration: underline;font-weight: 600;">Our Clients</h1>
      <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                  aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                  aria-label="Slide 3"></button>

          </div>
          <div class="carousel-inner">
              <div class="carousel-item active ">
                  <img src="images/caro1.jpeg" alt="dog-profile" class="testimonial-image">

                  <p class="testimonial-text">"Choosing Waste Alert for our waste management needs was one of the best decisions we've made. Their team is responsive, knowledgeable, and dedicated to delivering top-notch service. With Waste Alert, we can focus on our business knowing that our waste is being handled responsibly. Thank you for your outstanding service!"</p>
                  <em>Ankit Jain</em>
              </div>
              <div class="carousel-item">
                  <img src="images/caro2.jpeg" alt="dog-profile" class="testimonial-image">

                  <p class="testimonial-text">I can't thank Waste Alert enough for their exceptional service. They understand the importance of waste management for a neighbourhood like ours With their help, we've been able to streamline our waste disposal process and reduce our environmental footprint. Waste Alert is more than just a service provider; they're a partner in sustainability
                  </p>
                  <em>Rahul</em>
              </div>
              <div class="carousel-item">
                  <img src="images/caro5.jpeg" alt="dog-profile" class="testimonial-image">

                  <p class="testimonial-text">Waste Alert is the go-to waste management company in town! Their team goes above and beyond to ensure our waste is handled properly. From prompt pickups to transparent communication, they've earned my trust. I wouldn't hesitate to recommend Waste Alert to anyone in need of reliable waste management solutions.
                  <p>
                      <em>Yuvraj</em>
              </div>
              <div class="carousel-item">
                  <img src="images/caro3.jpeg" alt="dog-profile" class="testimonial-image">

                  <p class="testimonial-text">I've been using Waste Alert for years now, and they never disappoint! Their team is always on time, professional, and efficient. They make waste management hassle-free and environmentally friendly. Highly recommend their services!
                  <p>
                      <em>Akanansha </em>
              </div>
              <div class="carousel-item">
                  <img src="images/caro4.jpeg" alt="dog-profile" class="testimonial-image">

                  <p class="testimonial-text">I'm extremely satisfied with Waste Alert's services. They not only dispose of waste responsibly but also provide valuable insights on recycling and reducing waste. Their dedication to sustainability is commendable. Thank you, Waste Alert, for making a positive impact on our community
                  <p>
                      <em>Sunita</em>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>

    </section>
    <section id="press">
      <h1 style="text-align: center; font-family:Alex Brush; font-size: 3.5rem;text-decoration: underline;font-weight: 600;">Our Partners </h1>

      <img src="images/techcrunch.png" class="press-img" alt="tc-logo">
      <img src="images/tnw.png" class="press-img" alt="tnw-logo">
      <img src="images/bizinsider.png" class="press-img" alt="biz-insider-logo">
      <img src="images/mashable.png" class="press-img" alt="mashable-logo">
      <img src="images/Nike.png" class="press-img" alt="mashable-logo">
      <img src="images/starbucks.png" class="press-img" alt="mashable-logo">

      <img src="images/tesla.png" class="press-img" alt="mashable-logo">
      <img src="images/coca-cola.png" class="press-img" alt="mashable-logo">
      <img src="images/mercedes.png" class="press-img" alt="mashable-logo">
      <img src="images/IBM.png" class="press-img" alt="mashable-logo">

  </section>
  <section id="newsletter">
    <div class="newsletter-content">
        <div class="row">
            <div class="col-lg-6 col-md-6">
            <div class="newsletter-heading">
                <h1 style="margin-bottom: 5%;">Play Your Part</h1>
                <h2 style="margin-top: 5%;">Participate in Community Clean Up Events </h2>
            </div>
              
            </div>
            <div class="col-lg-6 col-md-6 "style="margin:auto">
                <form class="input" action="/" method="post">
                    <div class="mb-3">
                        <label for="first-name" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="first-name" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="second-name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="second-name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="termscheck">
                        <label class="form-check-label" for="termscheck">I agree to the terms and conditions</label>
                    </div>
                    <div class="d-grid gap-2">            
                    <button type="submit" class="btn btn-success ">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>

</section>

<%- include("partial/footer") -%>