<div class="footer-padding"></div>
<!-- <hr style="border-style: solid none none; width: 90%; text-align: center; margin: auto; margin-top: 2%; height: 0px; border-color: black; border-width: 2px; color: black;"> -->
  <div class="footer  "style="padding-top:3%">
    <div class="row footer-row">
        <div class="col-lg-4 col-md-4 col-sm-6" style="padding: 0%;">
            
            <img src="/images/warning.png" class="footerimg">
            <h1 style="font-family: Alex Brush;">WasteAlert</h1>
            
            

            </div>
        
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a ><h3 class="footer-head" style="text-align: center;">About Us</h3></a>
            <div class="links-foot" styles="font-size:1.25rem">
                <a >Who are we?</a><br>
                <a >Our Team</a><br>
                
                <a >Contact Us</a>
                </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <a ><h3 class="footer-head" style="text-align: center;">Our Vision</h3></a>
            <div  class="links-foot">
                <a >What we Aim?</a><br>
                <a >How Will We Achieve?</a><br>
                <a >News</a>
                </div>
        </div>
        
    </div>
    <a  ><i class="fa-solid fa-envelope icon-social fa-2x"></i></a>
    <a  ><i class="fa-brands fa-instagram  icon-social  fa-2x"></i></a>
    <a ><i class="fa-brands fa-x-twitter icon-social  fa-2x "></i></a>
    <a ><i class="fa-brands fa-youtube  fa-2x"></i></a>
    <p class="footer-para">©2024 WasteAlert All Rights Reserved</p>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>